# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#output
*.docx
#*.md
*.html
*.pdf

#strange file made by rticles
*.spl

#backup bibliography
*.bak

#figures
*.jpg
*.png
*.gif
!data/silvaplana/images/*.png
#temp files
*~
*#
#rmarkdown cache
*cache/
*_files/

#data
*.bil
*.hdr
*.zip
#*.xlsx
#*.xls

#bib format
packrat/lib*/
packrat/src/

#drake
.drake/

#other
etc/*
!etc/**/
!etc/zabinskie_countsheets/*.R

#output
output/
